<div class="container w-50 mt-5 bg-light text-dark p-4 rounded">
  <h1 class="text-center mb-4">Recuperar contraseña</h1>
  <form [formGroup]="recuperarForm" (ngSubmit)="recuperar()">

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="Ingrese el email de su cuenta"
        formControlName="email"
      />
    </div>

    <div class="mb-3">
      <label for="nuevaContrasena" class="form-label">Nueva contraseña</label>
      <input
        type="password"
        id="nuevaContrasena"
        class="form-control"
        placeholder="Contraseña"
        formControlName="nuevaContrasena"
      />
    </div>

    <a routerLink="/login" class="text-decoration-none d-flex align-items-center mb-3 link-inicio">
      Volver al inicio
    </a>

    <div class="container w-50 mt-3 rounded">
      <button type="submit" class="btn w-100 btn-login">Recuperar</button>
    </div>

  </form>
</div>
